<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/image" href="images/profile.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Mad's blog</title>
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="menu">
                <div class="profileImage">
                    <img src="images/profile.png" alt="Profile Picture" width="64" height="64">
                    <span class="title">Mad's blog</span>
                </div>
                <ul class="menuList">
                    <li>
                        <button class="btnMenu">Noticias</button>
                    </li>
                    <li>
                        <button class="btnMenu">Projetos</button>
                    </li>
                    <li>
                        <button class="btnMenu">Podcast</button>
                    </li>
                    <li>
                        <button class="btnMenu">Posts</button>
                    </li>
                    <li>
                        <button class="btnMenu">Sobre</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content">

    </div>
</body>

</html>