<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/image" href="images/profile.png" />
    <link rel="stylesheet" href="/styles/mainLogin.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Mad's blog | Login</title>
</head>
<body>
    <div id="container">
        <h2 class="title">Faça seu login</h2>
        <div class="login">
            <div class="email-form">
                <p class="email">Digite seu e-mail </p>
                <input class="email-input"  type="email" placeholder="Digite seu e-mail">
            </div>
            <div class="senha-form">
                <p class="senha">Digite sua senha </p>
                <input class="senha-input" type="password" placeholder="Digite sua senha">
            </div>
        </div>
        <button type="submit" class="submit">logar</button>
        <span>Crie uma conta clicando <a href="#">aqui.</a></span>
    </div>
</body>
</html>