
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 99px;
    }
}


@keyframes barraPiscando{
    from{
        border-right-color: var(--button-color);   
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}